@import url('../styles/media.css');
@import url('../styles/fonts.css');

body {
    background-image: url('../components/img/fundo_shay.jpg');
    background-repeat: no-repeat;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

/* INDEX */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#titulo {
    flex-direction: column;
    line-height: 10px;
}

h1 {
    font-weight: bold;
    height: 20px;
}

h2 {
    font-size: 56px;
}

.p-index {
    width: 500px;
    font-weight: 700;
    font-size: medium;
    text-align: justify;
}

span {
    color: red;
}

li {
    display: inline-block;
    margin: 20px;
}

#inscreva-se-btn {
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
}

#inscreva-se-btn:hover {
    color: black;
    border: 2px solid red;
}

a {
    color: red;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    color: black;
    transition: 2s all;
}

main {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"] {
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover {
    cursor: pointer;
}

input {
    border: none;
    border-radius: 20px;
    height: 20px;
    margin-top: 20px;
    padding: 15px;
    font-size: 15px;
}

img {
    width: 80%;
    margin-left: 30%;
}


/* CONTA */

#p-conta {
    margin-bottom: 10%;
    font-weight: 300;
    text-align: center;
    align-items: center;
    font-style: italic;
    font-size: larger;
    color: #FFFFFF;
}

#form-conta {
    width: 30%;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    border-radius: 15px;
    border: 2px solid black;
}

#input-conta {
    margin-top: auto;
    margin-bottom: 15px;
    width: 90%;
    padding: 6px;
}